#Main7Container{
    width: 100%;
    min-height: calc(100vh - 75px);
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
}
#ClasesMain7{
    grid-row: 1/2;
    grid-column: 1/2;
}
#UsersMain7{
    background-color: wheat;
    border-left: 1px solid #444140;
    grid-row: 1/2;
    grid-column: 2/3;
}